@model IEnumerable<Landinfo.DAL.Data.Model.PropertyInfo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UniqueId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MapId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dls)
            </th>
            <th>
                Location
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UniqueId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MapId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dls)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationLat) | @Html.DisplayFor(modelItem => item.LocationLong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                <a asp-action="Edit" data-toggle="tooltip" data-placement="top" title="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-fill"></i></a> |
                <a asp-action="Details" data-toggle="tooltip" data-placement="top" title="Details" asp-route-id="@item.Id"><i class="bi bi-newspaper"></i></a> |
                <a asp-action="Delete" data-toggle="tooltip" data-placement="top" title="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{ 
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
}
